<% include top %>
<%
if (posts) {
  posts.forEach(function(post) {
    %><p><%= post.key %>:
    <a href="/postview?key=<%= post.key %>"><%= post.title %></a>
    </p><%
  });
}
%>
<% include bottom %>
