<% include top %>
<form method='POST' action='/postsave'>
  <input type='hidden' name='docreate' value='<%=docreate ? "create" : "update"%>' />
  <input type='hidden' name='id' value='<%= post ? id : "" %>' />
  <p>Title: <input type='text' name='title' value='<%= post ? post.title : "" %>' /></p>
  <br/><textarea rows=5 cols=40 name='body' ><%=post ? post.body : "" %></textarea>
  <br/><input type='submit' value='Submit' />
</form>
<% include bottom %>
