body {
  /*background-color: #000000 !important;*/
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*.row {
  color: #FFFFFF !important;
  background-color: #303030 !important;
}*/

.img-for-animation {
  width: 847px;
}

a {
  color: #00B7FF;
}

.btn {
  margin-left: 10px;
}

.authorization-register {
  margin-left: 0px;
}

h1 {
  text-align: left;
}

.facebook {
  margin: 12% auto 30px auto;
  padding: 0 20px 0 0;
  width: 50%;
}

.wrapper {
  width: 70% !important;
}

.navbar-header {
  padding-left: 15%;
}

div.facebook > article > h1 {
  padding-bottom: 5%;
}

.help-block {
  visibility: hidden;
  font-size: 80%;
  border: 1px solid;
  border-color: #C03030;
  border-radius: 8px;
  position: absolute;
  overflow: visible;
  color: #737373;
  padding: 5px;
  top: 0%;
  left: 100%;
}

.help-block-username {
  width: 300px;
  height: 45px;
}

.help-block-password {
  width: 200px;
  height: 45px;
}

.help-block-email {
  width: 200px;
  height: 45px;
}
