* {
margin: 0;
}

html, body {
height: 100%;
}

body {
  font-family: 'Pacifico', cursive !important;
  background-color: #000000 !important;
  height: 100%;
  width: 100%;
}

.row {
  color: #9D9D9D !important;
  background-color: #000000 !important;
}

hr {
  color: #9D9D9D !important;
  width: 70%;
}

a {
  color: #9D9D9D !important;
}

.slide {
  padding-top: 0px !important;
  width: 800px !important;
  margin-left: 20% !important;
}

#main {
  width: 61% !important;
  padding-left: 5%;
}

section {
  min-height: 50%;
  height: auto !important;
  height: 50%;
  /*margin: 0 auto -4em;*/
}

footer, .push {
  height: 4em;
}

footer, .push {
  clear: both;
  padding-left: 50%;
}

.img-for-animation {
  width: 800px;
  height: 500px;
}

a {
  color: #00B7FF;
}

.btn {
  margin-left: 10px;
}

.authorization-register {
  margin-left: 0px;
}

p {
  color: #2C6D59;
}

.distinguisher {
  color: #2C6D59 !important; /*green color*/
}

.navbar-username {
  color: #2C6D59 !important; /*green color*/
}

h1 {
  text-align: left;
  padding-bottom: 5%;
}

.header-of-post {
  padding-left: 5%;
  padding-bottom: 0;
}

.date-of-post {
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.facebook {
  margin: 12% auto 30px auto;
  padding: 0 20px 0 0;
  width: 50%;
}

.postview {
  margin: 12% auto 30px auto;
  padding: 0 20px 0 0;
  width: 75%;
}

.post {
  padding-left: 10%;
}

header {
  width: 100%;
}

.navbar-header {
  padding-left: 15%;
}

.facebook > h1 {
  padding-bottom: 5%;
}

.help-block {
  visibility: hidden;
  font-size: 80%;
  border: 1px solid;
  border-color: #C03030;
  border-radius: 8px;
  position: absolute;
  overflow: visible;
  color: #737373;
  padding: 5px;
  top: 0%;
  left: 100%;
}

.help-block-username {
  width: 300px;
  height: 45px;
}

.help-block-password {
  width: 200px;
  height: 45px;
}

.help-block-email {
  width: 200px;
  height: 45px;
}

.help-block-password {
  font-family: 'Kavivanar', cursive;
}

.help-block-username {
  font-family: 'Kavivanar', cursive;
}

.help-block-email {
  font-family: 'Kavivanar', cursive;
}
