body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn {
  margin-left: 10px;
}

.authorization-register {
  margin-left: 0px;
}

h1 {
  text-align: left;
}

.facebook {
  margin: 12% auto 30px auto;
  padding: 0 20px 0 0;
  width: 50%;
}

.wrapper {
  width: 70% !important;
}

.navbar-header {
  padding-left: 15%;
}

div.facebook > article > h1 {
  padding-bottom: 5%;
}
