<% include top %>
  <div class="container wrapper">
    <div class="row">
      <div class="col-sm-12">
        <article class="error">
          <h1><%= error.status %></h1>
          <h2><%= error %></h2>
        </article>
      </div>
    </div>
    <div class="push"></div>
  </div>
<% include bottom %>
