<% include top %>
<section class="wrapper">
  <div class="container ">
    <div class="row">
      <div class="col-sm-12">
        <article class="facebook">
          <h1 class="error"><%= error.status %></h1>
          <h2 class="error"><%= error %></h2>
        </article>
      </div>
    </div>
  </div>
</section>
<% include bottom %>
