<% include top %>
<h1>Welcome</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <td>ID</td>
      <td>Title</td>
    </tr>
  </thead>
  <tbody>
    <%
    if (posts) {
      posts.forEach(function(post) {
        %><tr id=<%= post.id %>>
          <td><%= post.id %></td>
          <td><%= post.title %></td>
        </tr><%
      });
    }
    %>
  </tbody>
</table>
<% include bottom %>
