<% include top%>
<% include navbar%>
<% include carousel%>
<section id="main" class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%
          if (posts) {
            posts.forEach(function(post) {
              post.createdAt = post.createdAt.toDateString();
              %><article class="post" id=<%= post.id %>>
                <h1 class="header-of-post"><%= post.title %></h1>
                <p class="date-of-post"><%= post.createdAt %></p>
                <hr align="left">
              </article><%
            });
          }
        %>
      </div>
    </div>
  </div>
  <div class="push"></div>
</section>
<% include bottom %>
