<% include top %>
  <%
    if (posts) {
      posts.forEach(function(post) {
        post.createdAt = post.createdAt.toDateString();
        %><article class="post" id=<%= post.id %>>
          <h1><%= post.title %></h1>
          <p><%= post.createdAt %></p>
          <hr>
        </article><%
      });
    }
  %>
<% include bottom %>
