<% include top%>
<% include navbar%>
<div class="container wrapper main-page">
  <div class="row">
    <div class="col-sm-12">
      <ul>
        <%
          if (posts) {
            posts.forEach(function(post) {
              post.createdAt = post.createdAt.toDateString();
              %><li class="main-post" id=<%= post.id %>>
              <p class="date-of-post"><%= post.createdAt %></p>
              <h2 class="header-of-post"><%= post.title %></h2>
              </li><%
            });
          }
        %>
      </ul>
    </div>
  </div>
  <div class="push"></div>
</div>
<% include bottom %>
