<% include top %>
<% include navbar%>
<div class="container wrapper postview-page">
  <div class="row">
    <div class="col-sm-12">
      <article class="post">
        <h1><%= post.title %></h1>
        <section>
          <h2></h2>
          <p><%= post.body %></p>
        </section>
      </article>
    </div>
  </div>
  <div class="push"></div>
</div>
<% include bottom %>
