<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link href="https://fonts.googleapis.com/css?family=Amiri|Gentium+Book+Basic|Prata|Sorts+Mill+Goudy|Volkhov" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
          </div>
        </div>
      </div>
    </header>
